{% extends "mysite/base.html" %}

{% block content %}

      <a class="btn btn-default" href="{% url 'circleinsert' %}" >Add a circle</span></a>
      <a class="btn btn-default" href="{% url 'events.views.event_list' %}">
      View Events</a>
      <a class="btn btn-default" href="{% url 'useroptions' type='get' color='get' whence='users' %}">
      <span>Settings</span></a>
      <h2 class ='item'>Circles</h2>

      <table>
      {% for x in circles %}
          <tr>
          <td>&nbsp;&nbsp;<a class="item" href="{% url 'circledetail' pk=x.pk %}">{{ x.full_name }}&nbsp;</a></td>
          <td><a class="btn btn-default" href="{% url 'circledelete' pk=x.pk confirmed='no' %}">
          <span>Remove</span></a></td>
          </tr>
      {% endfor %}
      </table>


{% endblock content %}
    {% comment %}
  {% if activeperson.status >= 60 %}
  {% endif %}

    {% endcomment %}
