{% extends "mysite/base.html" %}
{% block content %}
{% if error_message %}
  <h1> {{error_message}}</h1>
{% endif %}

  <div class="person">
    <h2>
    <a class="btn btn-default" href="{% url 'contactlist' %}" ><span>View users</span></a>
    <a class="btn btn-default" href="{% url 'homepage' %}">View Events</a>
    </h2>

    {% if can_remove %}
      <a class="btn btn-default" href="{% url 'contactdelete' pk=person.pk confirmed='no' %}">
      <span>Remove this member</span></a>
    {% endif %}
  <table>
  <h2>
    <tr>
        <td>{{ person.first_name }}&nbsp;</td>
        <td>{{ person.status }}&nbsp;</td>
        <td>{{ person.authorname }}&nbsp;</td>
  </h2>
  </table>
  </div>
{% endblock %}
