{% extends "mysite/base.html" %}

{% block content %}
      {% if activeperson.status >= 35 %}
          <a class="btn btn-default" href="{% url 'userinsert' %}" >Add a prospective member</span></a>
      {% endif %}
      <a class="btn btn-default" href="{% url 'events.views.event_list' %}">View Events</a>

      {% if activeperson.status >= 40 %}
          <h2>Committee members</h2>
          <table>
          {% for x in committee %}
              <tr>
              {% if activeperson.status >= 60 %}
                  <td>&nbsp;&nbsp;<a class="item" href="{% url 'userdetail' pk=x.pk %}">{{ x.username }}&nbsp;</a></td>
              {% elif activeperson.status >= 40 %}
                  <td>&nbsp;&nbsp;{{ x.username }}&nbsp;</td>
              {% endif %}
              <td>{{ x.display_name }}&nbsp;</td>
              {% if activeperson.status >= 40 %}
                  <td>{{ x.last_login|date:"jS F Y" }}&nbsp;</td>
              {% endif %}
              {% if activeperson.status >= 60 %}
                  <td>{{ x.status }}&nbsp;</td>
              {% endif %}
              </tr>
          {% endfor %}
          </table>
      {% endif %}

      <h2>
      {% if activeperson.status >= 40 %}
          Other full members
      {% elif  activeperson.fullmember %}
          Full members
      {% endif %}
      </h2>
      <table>
      {% for x in full %}
          <tr>
          {% if activeperson.status >= 60 %}
              <tr><td>&nbsp;&nbsp;<a class="item" href="{% url 'userdetail' pk=x.pk %}">{{ x.username }}&nbsp;</a></td>
          {% elif activeperson.status >= 40 %}
              <tr><td>&nbsp;&nbsp;{{ x.username }}&nbsp;</td>
          {% endif %}
          <td>{{ x.display_name }}&nbsp;</td>
          {% if activeperson.status >= 40 %}
              <td>{{ x.last_login|date:"jS F Y" }}&nbsp;</td>
          {% endif %}
          {% if activeperson.status >= 60 %}
            <td><a class="btn btn-default" href="{% url 'demote' pk=x.pk %}"><span>Change to Prospective</span></a></td>
          {% endif %}
          {% if activeperson.status >= 60 %}
              <td>{{ x.status }}&nbsp;</td>
          {% endif %}
          </tr>
      {% endfor %}
      </h2>
      </table>
      <h2>
      {% if activeperson.fullmember %}
         Prospective members
      {% else %}
          Members
      {% endif %}
      </h2>
      <table>
      {% for x in members %}
        {% if x.status >= 20 or activeperson.status >= 60 %}
          <tr>
          {% if activeperson.status >= 60 %}
              <tr><td>&nbsp;&nbsp;<a class="item" href="{% url 'userdetail' pk=x.pk %}">{{ x.username }}&nbsp;</a></td>
          {% elif activeperson.status >= 40 %}
              <tr><td>&nbsp;&nbsp;{{ x.username }}&nbsp;</td>
          {% endif %}
          <td>{{ x.display_name }}&nbsp;</td>
          {% if activeperson.status >= 40 %}
              <td>{{ x.last_login|date:"jS F Y" }}&nbsp;</td>
          {% endif %}
          {% if activeperson.status >= 40 %}
              <td>{{ x.authorname }}&nbsp;</td>
          {% endif %}
          {% if activeperson.status >= 60 %}
              <td><a class="btn btn-default" href="{% url 'promote' pk=x.pk %}">
              <span>Change to Full Member</span></a></td>
          {% endif %}
          {% if activeperson.status >= 60 %}
              <td>{{ x.status }}&nbsp;</td>
          {% endif %}
          {% if activeperson.username = x.authorname %}
             <td><a class="btn btn-default" href="{% url 'userdelete' pk=x.pk confirmed='no' %}">
             <span>Remove</span></a></td>
          {% endif %}
          </tr>
        {% endif %}
      {% endfor %}
      </h2>
      </table>
{% endblock content %}
    {% comment %}

    {% endcomment %}
