{% extends "mysite/base.html" %}

{% block content %}
      {% if activeperson.status >= 35 %}
          <a class="btn btn-default" href="{% url 'memberinsert' %}" >Add a member</span></a>
      {% endif %}
      <a class="btn btn-default" href="{% url 'events.views.event_list' %}">
      View Events</a>
      <a class="btn btn-default" href="{% url 'useroptions' type='get' color='get' whence='users' %}">
      <span>Options</span></a>
      <h2 class ='item'>Members</h2>

      <table>
      {% for x in persons %}
        {% if x.status >= 20 or activeperson.status >= 60 %}
          <tr>
          {% if activeperson.status >= 60 %}
              <tr><td>&nbsp;&nbsp;<a class="item" href="{% url 'memberdetail' pk=x.pk %}">{{ x.username }}&nbsp;</a></td>
          {% elif activeperson.status >= 40 %}
              <tr><td>&nbsp;&nbsp;{{ x.username }}&nbsp;</td>
          {% endif %}
          <td>{{ x.display_name }}&nbsp;</td>
          {% if activeperson.status >= 40 %}
              <td>{{ x.last_login|date:"jS F Y" }}&nbsp;</td>
          {% endif %}
          {% if activeperson.status >= 40 %}
              <td>{{ x.authorname }}&nbsp;</td>
          {% endif %}
          {% if activeperson.status >= 60 %}
            {% if x.status = 20 %}
              <td><span style='color: #0000C0;'>member</span>&nbsp;</td>
            {% elif x.status = 30 %}
              <td><span style='color: #00C0C0;'>planner</span>&nbsp;</td>
            {% elif x.status = 35 %}
              <td><span style='color: #00C000;'>recruiter</span>&nbsp;</span></td>
             {% elif x.status = 40 %}
              <td><span style='color: #C0C000;'>committee</span>&nbsp;</td>
             {% elif x.status = 50 %}
              <td><span style='color: #C08000;'>treasurer</span>&nbsp;</td>
             {% elif x.status = 60 %}
              <td><span style='color: #C00000;'>admin</span>&nbsp;</td>
            {% endif %}
          {% endif %}
          {% if activeperson.username = x.authorname %}
             <td><a class="btn btn-default" href="{% url 'memberdelete' pk=x.pk confirmed='no' %}">
             <span>Remove</span></a></td>
          {% endif %}
          </tr>
        {% endif %}
      {% endfor %}
      </h2>
      </table>
{% endblock content %}
    {% comment %}

    {% endcomment %}
