{% extends "mysite/base.html" %}


{% block content %}

{% if error_message %}
  <h1> {{error_message}}</h1>
{% endif %}

  <div class="person">
    <h2>
    <a class="btn btn-default" href="{% url 'userlist' %}" ><span>View users</span></a>
    <a class="btn btn-default" href="{% url 'userinsert' function='insert' %}" ><span>Add a new user</span></a>
    </h2>

    <a class="btn btn-default" href="{% url 'userupdate' pk=person.pk function='update' %}">
    <span>Update this user</span></a>
    {% if can_process_this_user == True %}
      <a class="btn btn-default" href="{% url 'userupdate' pk=person.pk function='deleteperm' %}">
      <span>Remove this user</span></a>
    {% endif %}

  <table>
  <h2>
    <tr><td>&nbsp;&nbsp;{{ x.username }}&nbsp;</td>
        <td>{{ x.first_name }}&nbsp;</td>
         <td>{{ x.email }}</td>
         <td>{{ x.pk }}</td></tr>
  </h2>
  </table>

    
  </div>


{% endblock %}

